/* General */

html {
  overflow-x: hidden;
  /*   scroll-snap-type: y mandatory; */
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Slab", serif;
  color: var(--primary);
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Titulares */

h1 {
  font-family: "Better-Grade";
  font-weight: 100;
  font-size: 182px;
  padding-bottom: 12px;
  top: -2px;
  position: relative;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  color: var(--accent);
  font-weight: bold;
  line-height: 66px;
  padding-bottom: 20px;
}


h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 28px;
  color: var(--accent);
}

/* Párrafo */

p {
  font-family: "Roboto Slab", serif;
  color: var(--accent);
  font-size: 18px;
  font-style: normal;
  line-height: 25.5px;
  margin-bottom: 16px;
}

.rounded {
  border-radius: 0 0 40px 40px;
}

/* Flex */

.flex {
  display: flex;
}

/* Gap */

.gap-XL {
  gap: 64px;
}

/* Content */

section {
  min-height: auto;
  position: relative;
}

button {
  border-radius: 10px;
  background-color: var(--cta);
}

/* Alignments */

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

.wide-width{
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.text-center {
  text-align: center;
}

/* Animations */

.reveal-opacity {
  visibility: visible;
  -webkit-transform: translateY(50px) scale(1);
  opacity: 0;
  transform: translateY(50px) scale(1);
  opacity: 0;
}

.reveal-opacity.active {
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
}

/* MediaQueries */

@media only screen and (max-width: 980px) {

  h2 {
    font-size: 46px;
    line-height: normal;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: normal
  }

}

@media only screen and (max-width: 480px) {

  .container, 
  .wide-width{
    padding: 0 20px;
  }
  
  h1 {
    font-size: 125px;
    padding-bottom: 10px;
    line-height: 100px;
  }

  h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
}