header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    z-index: 10000;
    transition: all 200ms cubic-bezier(0.05, 1.04, 0.72, 0.98)/* , top 600ms cubic-bezier(0.05, 1.04, 0.72, 0.98); */
}

#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    transition: 1s;
    gap: var(--S);
    width: 100%;
    background-color: transparent;
}

header.nav-up #header-nav{
   padding: 10px 40px;
   /* background-color: var(--white); */
   /* background-color: rgba(255, 255, 255, 0.85); */
   background-color: var(--soft);
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

#header-nav .desktop-menu ul {
    justify-content: space-between;
    display: flex;
    padding: var(--S) 0;
}

#header-nav .desktop-menu ul li {
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
    position: relative;
}

.home #header-nav .desktop-menu ul li a {
    color: var(--white);
}

#header-nav .desktop-menu ul li a {
    position: relative;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    color: var(--accent);
    transition: 0.25s;
    opacity: 1;
    padding: 5px 8px;
    cursor: pointer;
}

header.nav-up #header-nav .desktop-menu ul li a{
    color: var(--accent);
}

#header-nav .desktop-menu ul li a:hover{
    font-weight: 600;
}

#header-top .links-top li:last-child {
    padding-right: 0;
}

.logo {
    background-image: url('https://jandcreative-dev.com/may_green_collective/wp-content/uploads/icon_maygreencollective.svg');
    width: 35px;
    height: 76px;
    background-repeat: no-repeat;
/*     transition: 1s; */
    cursor: pointer;
}
body.top .logo {
    /* background-image: url('https://jandcreative-dev.com/may_green_collective/wp-content/uploads/icon_maygreencollective_pink.svg'); */
    background-image: url('https://www.maygreencollective.es/wp-content/uploads/logo_xs.svg');
    width: 61px;
    height: 60px;
   /*  width: 76px;
    height: 75px; */
   /*  transform: scale(0.8); */
 /*    width: 30px;
    height: 64px; */
  /*   background-image: url('http://maygreencollective.local/wp-content/uploads/logo.svg');
    width: 76px;
    height: 75px; */
}

body.archive .logo,
body.single .logo,
body.page-template-page-carrito .logo,
body.page-template-page-legal .logo{
    transition: all 800ms ease-in-out;
    background-image: url('https://www.maygreencollective.es/wp-content/uploads/logo.svg');
    width: 76px;
    height: 75px;
}

body.archive.top .logo,
body.single.top .logo,
body.page-template-page-carrito .logo,
body.page-template-page-legal.top .logo
{
    background-image: url('https://www.maygreencollective.es/wp-content/uploads/logo_xs.svg');
    width: 60px;
    height: 59px;
   /*  transform: scale(0.8); */
}

.full-menu {
    display: none;
    position: fixed;
    z-index: 100000;
}

@media only screen and (max-width: 980px) {
    .desktop-menu{
        display: none;
    }

    body.home #hamburguer.mobile{
        background-color: transparent!important; 
    }

    #hamburguer.mobile {
        display: block;
        position: fixed;
        right: 32px;
        background-color: var(--soft);
        /* top: 2.2em; */
        top: 1em;
        width: 4em;
        height: 4em;
        z-index: 1000000;
        border-radius: 8px;
        /* border-radius: 8px 0 0 8px; */
        cursor: pointer;
        transition: all 800ms ease-in-out;
    }
    
    body.top #hamburguer.mobile{
        top: 0.8em;
    }

    body.home  #hamburguer.mobile .lines{
        background-color: var(--white); 
    }

    #hamburguer.mobile .lines {
        background-color: var(--accent);
        width: 70%;
        height: 4px;
        margin: 6px 0;
        transition: all 450ms ease-in;
        border-radius: 5px;
        left: 0;
        right: 0;
        position: relative;
        top: 15px;
        left: 10px;
    }

    body.top #hamburguer.mobile .lines{
        background-color: var(--accent);
    }


    div#hamburguer.mobile.close-hamburguer .lines{
        background-color: var(--white);
    }

    #hamburguer.close-hamburguer{
        background-color: transparent;
    }

    #hamburguer.close-hamburguer .lines {
        background-color: var(--white);
        cursor: pointer;
        margin: 14px 0;
    }

    #hamburguer.close-hamburguer .line-top {
        transform: translateY(180%) rotate(45deg);
    }

    #hamburguer.close-hamburguer .line-mid{
        display: none;
    }

    #hamburguer.close-hamburguer .line-bottom {
        transform: translateY(-300%) rotate(135deg);
    }

    .full-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--accent);
        text-align: left;
        top: -100%;
        transition: all 1000ms ease-in-out;
        opacity: 0.9;
    }
    
    .full-menu nav ul li {
        list-style: none;
        text-align: center
    }

    .full-menu nav li a {
        font-size: 30px;
        color: var(--white);
        font-weight: 400;
        opacity: 1;
        position: relative;
        padding: 24px 40px 24px 40px;
        text-decoration: none;
        display: block;
        transition: 0.2s;
    }
} 

@media only screen and (max-width: 480px) {

    #header-nav {
        padding: 20px;
    }

    #hamburguer.mobile{
     /*    top: 1.4em; */
        right: 12px;
    }

    header.nav-up #header-nav{
        padding: 10px 20px;
    }

    .logo {
        width: 200px;
        height: 69px;
    }

    #hamburguer {
        top: 0.5em;
    }
}