/* Hero Home */
section#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    scroll-snap-align: start;
    overflow: hidden;
    background-position: center center;
    /* Centra la imagen tanto en el eje X como en el eje Y */
    background-size: cover;
    /* Asegura que la imagen cubra toda el área del contenedor */
    background-repeat: no-repeat;
    background-image: url("https://jandcreative-dev.com/may_green_collective/wp-content/uploads/img_hero_may_green_collective.jpg");
}


span.subtitle {
    font-family: "Roboto Serif", serif;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.logo-home .icon {
    width: 56px;
    height: auto;
}

a.button {
    border-radius: 8px;
    background-color: var(--white);
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 44px;
    width: fit-content;
    text-decoration: none;
    color: var(--accent);
    border-radius: 8px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cta {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: 0;
    right: 0;
}

.cta span {
    font-size: 20px;
    font-family: "Brockmann-semibold";
    line-height: 25px;
    display: block;
    margin-bottom: 0.5em;
}

/* Values */

#valores {
    padding: 65px 0;

    .intro-values {
        max-width: 1080px;
        margin: 0 auto;

        .description p {
            color: var(--white);
            font-size: 21px;
            line-height: 31px;
            font-style: normal;
            text-align: center;
        }

        .list-icons-values {
            display: flex;
            justify-content: space-between;
            padding: 35px 0 0;
            gap: 40px;
            max-width: 760px;
            margin: 0 auto;
            flex-wrap: wrap;

            img {
                height: 76px;
                width: auto;
            }

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                width: 20%;
                text-align: center;

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--white);
                    gap: 1rem;
                }
            }

        }
    }
}

/* Form */

.has-accent-background-color {
    background-color: var(--accent);
}

.intro-text {
    display: flex;
    gap: 5em;
    padding: 2em 0;
}

.intro-text img {
    max-width: 480px;
    height: auto;
}

.intro-text .column-left,
.intro-text .column-right {
    flex-basis: 50%;
}

.form-unete {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    color: #fff;
    text-align: center;
    scroll-snap-align: start;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-form {
    max-width: 930px;
    min-height: auto;
    background-color: rgba(255, 255, 255, .65);
    width: 100%;
    border-radius: 8px;
    padding: 55px 44px;
    margin: 0 20px;
}

p.gform_required_legend {
    display: none;
}

div#gform_fields_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px 32px;
    margin-top: 10px;
}

legend.gfield_label.gfield_label_before_complex {
    display: none;
}

/* Haz que el último elemento ocupe ambas columnas */
#field_1_5.last {
    grid-column: 1 / -1;
    /* Hace que el último elemento ocupe toda la fila */
    border: 0;
}

div#gform_fields_1 input,
div#gform_fields_1 select {
    background-color: var(--white);
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    color: black;
}

div#gform_fields_1 label {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--accent);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: left;
}

.ginput_container.ginput_container_consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

input#input_1_5_1 {
    width: auto !important;
    z-index: 0;
    position: relative;
    overflow: visible;
}

label.gfield_consent_label {
    margin-bottom: 0;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0 !important;
    color: #000 !important;
}

input#gform_submit_button_1 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 10px 24px;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 8px;
    border: none;
}

.gform_footer.top_label {
    margin-top: 2.5rem;
}

h2.gform_submission_error.hide_summary {
    font-size: 20px;
    color: red;
}

.validation_message {
    color: red;
    font-size: 13px;
    text-align: left;
    padding-top: 5px;
}

div#gform_confirmation_message_1 {
    font-size: 20px;
    color: var(--accent);
    font-weight: bold;
}


#unete .wp-block-group.alignwide.reveal-opacity.active{
    background-color: var(--soft);
}

/* Proximamente */

section#proximamente {
    background-color: var(--soft);
}

section#proximamente img {
    border-radius: 40px;
}


/* Map */

section#contact .map{
    display: flex;
    position: relative;
	border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
    max-width: 100%;
}

@media only screen and (max-width: 980px) {
    section#hero {
        background-image: url(" https://jandcreative-dev.com/may_green_collective/wp-content/uploads/img_hero_may_green_collective_02.jpg");
    }
}

@media only screen and (max-width: 940px) {
    .intro-text {
        flex-direction: column;
        padding: 1em 0;
        gap: 0.5rem;
    }

    .intro-text img {
        max-width: 100%;
        height: auto;
    }

    .wp-block-group__inner-container .intro-text:nth-of-type(2) .column-right p {
        text-align: center;
    }
    

    .wp-block-group__inner-container .intro-text:nth-of-type(4) .column-left {
        order: 2;
    }

    .wp-block-group__inner-container .intro-text:nth-of-type(4) .column-left p{
        text-align: center!important;
    }
}

@media only screen and (max-width:800px) {

    #valores .intro-values .list-icons-values .item{
        flex-basis: 40%;
        gap: 16px;
    }

    #valores .intro-values .list-icons-values{
        justify-content: space-around;
        gap: 40px 0;
    }

    div#gform_fields_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 10px;
    }
      
    .box-form{
        padding: 40px;
    }

    .wp-block-columns{
        flex-direction: column;
    }

    .wp-block-columns figure{
        text-align: center;
    }
    
}

@media only screen and (max-width: 480px) {

    .intro{
        gap:22px;
    }

    .logo-home .icon {
        width: 46px;
    }

    span.subtitle{
        font-size: 22px;
    }

    #valores {
        padding: 45px 0;
    }

    #valores .intro-values .description p {
        font-size: 18px;
        line-height: 28px;
    }
 
    #valores .intro-values .list-icons-values{
        flex-direction: column;
        align-items: center;
        gap: 34px 0;
    }

    #valores .intro-values .list-icons-values .item{
        width: 100%;
    }

    #conocenos .intro-text {
        padding: 0;
        gap: 0;
    }

    #conocenos .block-spacer.small{
        height: 8px;
    }

    .cta {
        bottom: 50px;
    }

    .cta span {
        display: none;
    }

    /* General Spacer */

    .block-spacer.xl {
        height: 60px;
    }

    .block-spacer.big {
        height: 30px;
    }

    /* Columns  */
    .intro-text{
        padding: 1rem 0;
    }

    /* FORM */

    .box-form {
        padding: 25px;
    }

    div#gform_fields_1 select {
        padding: 10px;
        appearance: none;
        -webkit-appearance: none; /* Para iOS */
       -moz-appearance: none; /* Para Firefox */
    }

    /* Asegura que el checkbox sea visible y clickeable */
    div#gform_fields_1 input#input_1_5_1[type="checkbox"] {
        z-index: 0; /* Asegura que esté encima de otros elementos */
        position: relative;
        pointer-events: auto; /* Asegura que los eventos de puntero estén habilitados */
        visibility: visible; /* Asegura que el checkbox sea visible */
        opacity: 1; /* Asegura que no sea transparente */
        touch-action: manipulation; /* Mejora la interacción táctil */
    }

    /* Estilo para el label asociado al checkbox */
    div#gform_fields_1 input[type="checkbox"] + label {
        cursor: pointer; /* Asegura que el cursor sea de mano al pasar por encima */
    }
    
    div#gform_fields_1 {
        grid-gap: 16px;
        margin-top: 10px;
    }

    section#contact .map{
        height: 300px;
    }  
}
