/* section#legal .container{
    padding-top: 40px;
    max-width: 880px;
    width: 100%;
  }
  
  section#legal h1{
    font-size:48px;
    text-align: center;
  }
  
  section#legal h2{
      font-family: "Brockmann-bold";
      font-size: 26px;
      color: var(--black);
      margin: 0;
      padding: var(--S) 0 var(--S);
      line-height: normal;
  }
  
  section#legal h3{
    font-family: "Brockmann-semibold";
    color: var(--accent);
    font-size: 20px;
    line-height: normal;
    padding-bottom: 8px;
  }
  
  section#legal p{
    font-size: 18px;
  }
  
  section#legal p a{
    color: var(--accent);
    text-decoration: underline;
  }
  
  section#legal ol,
  section#legal ul {
      margin-left: 18px;
  }

  section#legal ol li,
  section#legal ul li
  {
    padding-bottom: 16px;
    line-height: 22px;
  }


  @media only screen and (max-width: 480px) {

  .page-template-page-legal .block-spacer.xxl {
    height: 90px;
  }
} */