/* Header Product */
.single-product header #header-nav {
    position: relative;
    padding: 10px 40px;
    background-color: var(--soft);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.single-product #header-nav .desktop-menu ul li a {
    color: var(--accent);
}

.single-product main {
    padding: 240px 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

/* Breadcrumb */

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb a {
    color: var(--accent);
    font-size: 15px;
    font-weight: bold;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb {
    color: var(--accent);
    font-size: 15px;
}

nav.woocommerce-breadcrumb {
    margin-bottom: 2rem !important;
}

.single-product span.tagged_as {
    display: none;
}

/* Column Left */
/* Gallery */

.woocommerce-product-gallery__image {
    overflow: hidden !important;
    border-radius: 40px;
}

.flex-viewport {
    margin-bottom: 2rem;
}

ol.flex-control-nav.flex-control-thumbs img {
    border-radius: 8px;
}

.flex-control-nav,
.woocommerce-product-gallery .flex-direction-nav {
    display: block !important;
}

.woocommerce-product-gallery .flex-direction-nav a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.woocommerce-product-gallery .flex-direction-nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Column Right */

.woocommerce div.product div.summary {
    margin-top: 2em;
}

.product_meta {
    margin-bottom: 1.5em;
}

/* Title Product */

.single-product h1 {
    font-family: "Roboto Slab", serif;
    width: 100%;
    font-size: 60px;
    color: var(--accent);
    font-weight: bold;
    line-height: 66px;
    margin-bottom: 20px;
}

/* Link Category */

span.posted_in {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: bold;
}

span.posted_in a {
    background-color: var(--accent);
    color: var(--white);
    border-radius: 40px;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 4px;
}

span.posted_in a:hover {
    text-decoration: underline;
}

/* Reviews */

.product-review-count {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}


/* Link Collection */
.product-collection {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.product-collection a {
    background-color: var(--accent);
    color: var(--white);
    border-radius: 40px;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 4px;
}

.product-collection a:hover {
    text-decoration: underline;
}

/* Price */

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price {
    font-weight: bold;
    color: var(--pink);
    display: flex;
    align-items: center;
    gap: 0.25em;
}

span.woocommerce-Price-amount.amount bdi {
    font-weight: bold;
    font-size: 34px;
    color: var(--pink);
}

.woocommerce span.onsale {
    background-color: var(--pink);
}

/* Botón Añadir al Carrito */

.woocommerce div.product form.cart {
    display: flex;
}

.woocommerce .quantity .qty {
    height: 100%;
    background-color: #EBEBEB;
    border: none;
    border: 1px solid var(--accent);
    border-radius: 4px;
    width: 60px;
    color: var(--accent);
    font-size: 14px;
    font-weight: bold;
}

.woocommerce .quantity .qty {
    height: 100%;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    width: 100%;
    padding: 14px 16px;
    max-width: 280px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-size: 14px;
}

span.sku_wrapper {
    display: none;
}

.summary.entry-summary button {
    background-color: var(--accent) !important;
}

/* Tabs */

ul.tabs.wc-tabs {
    display: none;
}


h2.woocommerce-Reviews-title {
    font-size: 28px;
    font-weight: 400;
    color: var(--black);
}

.woocommerce ul.products li.product .button,
.woocommerce #review_form #respond .form-submit input {
    background-color: var(--accent) !important;
    padding: 14px 16px;
    color: var(--white);
}

/* Productos relacionados */

.related.products h2 {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    color: var(--accent);
    font-weight: bold;
    line-height: 46px;
    padding-bottom: 40px;
}

.related.products .flex-info-title-product {
    margin-top: 10px;
}

.related.products .woocommerce-page ul.products li.product {
    margin: 0 2.5% 2.6em 0;
}

.related.products h3.woocommerce-loop-product__title {
    font-size: 18px !important;
    padding: 0 !important;
}

.flex-info-title-product .price {
    text-align: right;
}

.woocommerce p.stars a::before {
    color: var(--black);
}

h2.woocommerce-Reviews-title {
    font-size: 28px;
    font-weight: 400;
    color: var(--black);
    border-bottom: 1px solid var(--black);
    line-height: normal;
    padding-bottom: 10px !important;
    margin-bottom: 20px;
    display: block;
}

/* Atrributes */

table.variations tr {
    margin-bottom: 10px !important;
    display: block;
}

.woocommerce div.product form.cart,
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled,
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex;
}

.woocommerce div.product form.variations_form.cart.wvs-loaded {
    display: flex;
    flex-direction: column;
}

li.variable-item.button-variable-item.button-variable-item-xs.selected,
li.variable-item.button-variable-item.button-variable-item-s.selected,
li.variable-item.button-variable-item.button-variable-item-l.selected,
li.variable-item.button-variable-item.button-variable-item-m.selected,
li.variable-item.button-variable-item.button-variable-item-xl.selected,
li.variable-item.button-variable-item.button-variable-item-xxl.selected
{
background-color: var(--accent) !important;
color: #fff !important;
}

li.variable-item.button-variable-item.button-variable-item-xs,
li.variable-item.button-variable-item.button-variable-item-s,
li.variable-item.button-variable-item.button-variable-item-m,
li.variable-item.button-variable-item.button-variable-item-l,
li.variable-item.button-variable-item.button-variable-item-xl,
li.variable-item.button-variable-item.button-variable-item-xxl {
    background-color: #EBEBEB !important;
}

li.variable-item.button-variable-item.button-variable-item-xs span,
li.variable-item.button-variable-item.button-variable-item-s span,
li.variable-item.button-variable-item.button-variable-item-m span,
li.variable-item.button-variable-item.button-variable-item-l span,
li.variable-item.button-variable-item.button-variable-item-xl span,
li.variable-item.button-variable-item.button-variable-item-xxl span {
    border-radius: 0 !important;
}

span.variable-item-span.variable-item-span-button {
    font-size: 13px;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

.woocommerce div.product form.cart .variations label {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    color: var(--black);
    font-size: 15px;
}

a.reset_variations {
    font-size: 15px !important;
    color: var(--accent);
    font-weight: 600;
    margin: 10px 0;
    display: block;
    font-family: 'Roboto', serif;
}

.woocommerce div.product div.images .flex-control-thumbs {
    display: flex !important;
    gap: 8px !important;
}

/* Reviews */

div#review_form #respond textarea{
    min-height: 20px;
    padding: 8px;
    font-size: 15px;
}

div#review_form input {
    min-height: 20px;
    padding: 8px;
    font-size: 15px;
    margin-left: 10px;
}

div#review_form p.comment-form-cookies-consent {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

input#wp-comment-cookies-consent {
    margin-left: 0 !important;
}

.product-review-count{
    display: none;
}

.woocommerce-product-rating a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.woocommerce .star-rating span:before{
    color: var(--accent);
}

.related.products span.woocommerce-Price-amount.amount bdi {
    font-size: 19px;
    /*font-size: 22px;*/
}


/* Etiqueta Socio */
.woocommerce span.onsale {
    height: 3.6em;
    width: 3.6em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.2em;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: var(--pink);
    color: #fff;
    font-size: 0.9em;
    z-index: 9;
    /* transform: rotate(-24deg);*/
}



@media only screen and (max-width: 980px) {
    .single-product main {
        padding: 200px 40px 0;
    }

    .single-product h1 {
        font-size: 46px;
        line-height: 54px;
    }
}

@media only screen and (max-width: 600px) {
.related.products h3.woocommerce-loop-product__title {
    font-size: 20px !important;
}
.related.products span.woocommerce-Price-amount.amount bdi{
    font-size: 24px;
}
}

@media only screen and (max-width: 480px) {

    .single-product header #header-nav {
        padding: 10px 20px;
    }

    .single-product h1 {
        font-size: 36px;
        line-height: normal;
        margin-bottom: 10px;
    }

    nav.woocommerce-breadcrumb {
        margin-bottom: 1rem !important;
    }

    .single-product main {
        padding: 180px 20px 0;
    }

    h2.woocommerce-Reviews-title {
        font-size: 24px;
    }

    .related.products h2 {
        font-size: 24px;
        line-height: normal;
        padding-bottom: 30px;
    }

    div#review_form input{
        margin-left: 0!important;
    }
}