:root {
  /* Colors */
  --accent: #124737;
  --black: #000;
  --white: #fff;
  --pink: #F4A6A2;
  --grey: #f5f5f5;

  /* More colors*/
  --soft: #F4F3E7;

  /* Weight */
  --bold: 700;
  --regular: 400;

  /* Margin, Padding and Gaps */
  /* XL */
  --XL-XL: 88px;
  --XL-L: 80px;
  --XL-M: 72px;
  --XL: 64px;

  /* L */
  --L-XL: 56px;
  --L-L: 48px;
  --L-M: 40px;
  --L: 32px;

  /* Others */
  --M: 24px;
  --S-M: 20px;
  --S: 16px;
  --XS: 8px;
  --XXS: 4px;

/* Border */
  --br: 10px;
}