/* @font-face {
  font-family: "Brockmann-regular";
  src: url("../assets/fonts/Brockmann-Regular.eot");
  src: url("../assets/fonts/Brockmann-Regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Brockmann-Regular.svg#Brockmann-Regular") format("svg"),
    url("../assets/fonts/Brockmann-Regular.ttf") format("truetype"),
    url("../assets/fonts/Brockmann-Regular.woff") format("woff"),
    url("../assets/fonts/Brockmann-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Brockmann-medium";
  src: url("../assets/fonts/Brockmann-Medium.eot");
  src: url("../assets/fonts/Brockmann-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Brockmann-Medium.svg#Brockmann-Medium") format("svg"),
    url("../assets/fonts/Brockmann-Medium.ttf") format("truetype"),
    url("../assets/fonts/Brockmann-Medium.woff") format("woff"),
    url("../assets/fonts/Brockmann-Medium.woff2") format("woff2");
}


@font-face {
  font-family: "Brockmann-semibold";
  src: url("../assets/fonts/Brockmann-SemiBold.eot");
  src: url("../assets/fonts/Brockmann-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Brockmann-SemiBold.svg#Brockmann-SemiBold") format("svg"),
    url("../assets/fonts/Brockmann-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/Brockmann-SemiBold.woff") format("woff"),
    url("../assets/fonts/Brockmann-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Brockmann-bold";
  src: url("../assets/fonts/Brockmann-Bold.eot");
  src: url("../assets/fonts/Brockmann-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Brockmann-Bold.svg#Brockmann-Bold") format("svg"),
    url("../assets/fonts/Brockmann-Bold.ttf") format("truetype"),
    url("../assets/fonts/Brockmann-Bold.woff") format("woff"),
    url("../assets/fonts/Brockmann-Bold.woff2") format("woff2");
}
 */